/* Custom Css associated to the project  */

.jumbotron {
    background-color: lightsalmon;
    color: #ffffff;
    box-shadow: 10px 10px 5px #888888;
}

.row {
    height:500px;
}

/* Définition image */
img {
    box-shadow: 10px 10px 5px #888888;
    border-radius: 15px;
    background-color: lightgrey;
}

/* Définition menu horizontal*/
.navbar.navbar-default {
    box-shadow: 10px 10px 5px #888888;
    border-radius: 15px;
    background-color: lightgrey;
    color : black;
}

/* Définition menu vertical*/
.nav.nav-pills.nav-stacked{
    box-shadow: 10px 10px 5px #888888;
    border-radius: 15px;
    background-color: lightgrey;
    color: black;
}

/* définition des liens a */
a {
    color: black;
}

a:hover {
    cursor: pointer;
}

h1 {
    text-shadow: 10px 10px 5px #888888;
}

textarea{
    resize:none;
    box-shadow: 10px 10px 5px #888888;
}


/* ****** Zone Pagination et Research ******** */
input {
    text-align: center;
}

input.descr{
    width:310px;
}

input.but {
    width:30px;
    text-align: center;
}


/* ########## Zone LISTING */
article {
    padding: 10px;
    border-width: 1px;
    border-radius: 15px;
    background-color: lightgrey;
    box-shadow: 10px 10px 5px #888888;
    overflow: hidden;
    transition-property: height;
    transition-duration: 1s;
    height:70px;
}

article:hover{
    height: 400px;
}

article a {
    position:relative;
    margin-bottom: 5px;
    width:80px;
    height:40px;
    display:inline-block;
    text-align:center;
    line-height:40px;
    box-shadow: 10px 10px 5px #888888;
    background-color:#d6be97;
}

div.content{
    /* float:left;*/
    display:block;
    width: 600px;
    padding: 5px;
    margin: 0px;
    overflow: hidden;
}

div.buttons  {
   /*  float:right; */
    display:inline-block;
}

article img {
    float:left;
    margin:0 20px 0 0;
}

/* positionnement des éléments de pagination  */
div.pagin {
    display: inline-block;
}

div.elements {
    display: inline-block;
}


/* selection nbre elements pagination  */

.selec {
    background-color: lightgreen;
    text-shadow: 1px 1px #ff00ff;
}
