{# app/Resources/views/menu.html.twig #}

{# ///////////////////////////  #}
{# // Menu GENERAL DU SITE // #}
{# ///////////////////////////  #}


<li><a href="{{ path('stage_index_homepage')}}" class="btn btn-info glyphicon glyphicon-home" role="button"> Home</a> </li>
<li><a href="{{ path('stage_tiny_homepage')}}" class="btn btn-info " role="button">Test of TinyMCE</a> </li>

<!--
<h4>Dernières annonces</h4>
{{ render(controller("TESTPlatformBundle:Advert:menu", {'limit': 2})) }}
-->
<h3></h3>

<li><a href="{{ path('liste_index_homepage')}}" class="btn btn-info glyphicon glyphicon-folder-open" role="button"> Projects Lists</a></li>

<h3></h3>

<li><a href="#" class="btn btn-info " role="button"> Link</a></li>
<li><a href="#" class="btn btn-info " role="button"> Link</a></li>
<li><a href="#" class="btn btn-info " role="button"> Link</a></li>
