{# //////////////////////////////  #}
{# // VUE DETAIL du Projet //  #}
{# //////////////////////////////  #}

{% extends "STAGEIndexBundle::layout.html.twig" %} {# heritage du layout du Bundle Index   #}

<div class="well">

    <div >

        <h1>Titre </h1>
        <img src="{{asset("bundles/stageindex/images/folder.jpg")}}" class="img-responsive">

    </div>

    <div class="well">
        <h1> Titre </h1>
        <h2> Description </h2>
    </div>
