{# ///////////////////////////  #}
{# // VUE New project       //  #}
{# ///////////////////////////  #}

{% extends "STAGEIndexBundle::layoutProject.html.twig" %} {# heritage du layout du Bundle Index   #}

{% block title %}
New
{% endblock %}

{% block index_body %}

{#  Insertion du script pour appeler tinymce et son fichier de config #}
<script src="{{asset("bundles/Framework/js/tinymce2/tinymce.min.js")}}"></script>
<script src="{{asset("bundles/framework/js/configimg2_tinymce.js")}}"></script>

<h1> New Project </h1>

{# // Insertion formulaire       //  #}
{{ include("STAGEIndexBundle:Projects:form.html.twig") }}

{% endblock %}
