{# ////////////////////////////  #}
{# // VUE View-Detail        //  #}
{# ////////////////////////////  #}

{% extends "STAGEIndexBundle::layoutProject.html.twig" %} {# heritage du layout du Bundle Index  #}

{% block title %}
    Detail
{% endblock %}

{% block index_body %}

    <h2><u> Title : </u> {{project.projTitle}}</h2>

    <p> Date  :  {{ project.projDate| date('d/m/Y') }} </p>

    <p> <br>  {{ project.projDescr|raw }} </p>
    <hr>
    
    <a  href="{{ path('projects_index_homepage') }}" class="buttons btn btn-info"> Previous Page</a>

    


{% endblock %}
