<!DOCTYPE html>

<html>

<head>

    <title>ByeBye !</title>

</head>

<body>

    <h1>Bye Bye  !</h1>

    {# Dans une vue Twig, en considérant bien sûr
   que la variable advert_id est disponible #}

<a href="{{ path('test_platform_view', { 'id': advert_id }) }}">
    Lien vers l'annonce d'id {{ advert_id }}
</a>

</body>

</html>
